.Menu{
    text-align: center;
    p{ 
        margin: auto;
        padding:10px;
    }
    .menu {
        display: grid;
        grid-template-rows: 75px 75px 75px 75px 75px;
        grid-template-columns: 150px 150px; 
    }
    .menu2 { 
        display: grid;
        grid-template-rows: 75px 75px 75px 75px 75px;
        grid-template-columns: 100px 100px 100px 100px; 
    }
    .menuFull {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }  
    .item {
        font-family: 'Roboto Mono'
    }
    #byTheBag{
        margin-top: -25vmin;
    }
    .origin {
        font-family: 'Roboto Mono';
        font-size: 12px;
    } 
    button:hover {
        cursor: pointer;
    }
    button .order {
        border: black;
        background-color: white;
        color: black;
        font-size: 2vmin;
        height: 25px;
        width: 135px;
        column-gap: 10px;
        border-radius: 3%;
        margin-top: 10px;
        font-family: 'Roboto Mono';
    }  
}