.Menu{
    text-align: center;
    p{ 
        margin: auto;
        padding:10px;
    }
    .right {
        display: grid;
        grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
        grid-template-columns: 150px 150px;
        margin-left: 40vmin; 
    }
    .left {
        display: grid;
        grid-template-rows: 75px 75px 75px 75px 75px;
        grid-template-columns: 150px 150px; 
    }
    .right3 {
        display: grid;
        grid-template-rows: 75px;
        grid-template-columns: 150px 150px;
        margin-left: 40vmin; 
    }
    .left3 {
        display: grid;
        grid-template-rows: 75px;
        grid-template-columns: 150px 150px; 
    }
    .right2 { 
        display: grid;
        grid-template-rows: 75px 75px;
        grid-template-columns: 100px 100px 100px 100px; 
        margin-left: 40vmin;
    }
    .left2 { 
        display: grid;
        grid-template-rows: 75px 75px;
        grid-template-columns: 100px 100px 100px 100px; 
    }
    .menuFull {
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
    }  
    .item {
        font-family: 'Roboto Mono'
    }
    .origin {
        font-family: 'Roboto Mono';
        font-size: 12px;
    } 
    button:hover {
        cursor: pointer;
    }
    .order {
        border: black;
        background-color:lightgray;
        color: black;
        font-size: 2vmin;
        align-self: center;
        height: 55px;
        width: 135px;
        column-gap: 10px;
        border-radius: 5%;
        margin-top: 10px;
        font-family: 'Roboto Mono';
    }  
    #btn1, #btn2 {
        border: black;
        background-color:lightgray;
        color: black;
        font-size: 2vmin;
        align-self: center;
        height: 55px;
        width: 135px;
        column-gap: 10px;
        border-radius: 5%;
        margin-top: 10px;
        font-family: 'Roboto Mono';
    }
}