.About{
    margin-top: 25vmin;
    margin-bottom: 25vmin;
    .AboutFlex{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .matcha{
        margin-left: 20vmin;
    }
    .right{
        margin: auto;
        align-content: center;
    }
    .aboutparagraph{
        font-family: 'Roboto Mono';
        text-align: left;
        margin-bottom: 5vmin;
        font-size: 25px;
        text-align: justify;
        text-justify: inter-word;
    }
}