@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

html{
  height: 100%;
  background-color: white;
}
body {
  color: #000;
  background-color: white;
  transition: background-color 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  #main{
    background-color: gray;
  }
  #root{
    background-color: white;
  }
  .title{
    font-family:"Lisu Bosa"; 
    text-align: center;
  }
  h1{
    font-size: 10vmin;
    margin-bottom: 5vmin;
  }
  h2{
    margin-top: 5vmin;
    font-size: 7vmin;
  }
  .about-paragraph{
    font-family: 'Roboto Mono';
    text-align: left;
  }
  .AuthPage{
    padding: 20vmin;
  }
  .Hamlet{
    display: block;
    height: 100vh;
  }
  .About{
    margin-top: 25vmin;
    margin-bottom: 25vmin;
    .matcha{
      position: relative;
      left: 20%;
    }
    p{
      margin-bottom: 5vmin;
      margin-right: 20%;
      text-align: justify;
      text-justify: inter-word;
    }
    #p1{
      margin-top: 15vmin;
    }
  }
  .About-Flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .FindUs{
    margin-top: 25vmin;
    .flexbox{
      display: grid;
      grid-template-columns: 60% 1% 20%;
      align-items: center;
    }
  }
  p{
    text-align: center;
  }
  .ContactUs{
    margin-top: 25vmin;
    margin-bottom: 10vmin;
    .icon {
      max-height:35px;
    }
    .icons {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 10vmin;
    }
  }
}


