.NavBar {
    background-color: white;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    button {
        border: none;
        background-color: transparent;
        font-size: 3vmin;
        color: black;
        font-family: 'Roboto Mono';
        font-size: 3vmin;
        &:link, &:visited {
            color: rgb(25, 97, 252);
            text-decoration: none;
        }
    }
    button:hover{ 
        text-decoration: none;
        font-size: 3.5vmin;
    }
    a {
        color: black;
        font-size: 3vmin;

    }
    a:hover{
        font-size: 3.5vmin;
        text-decoration: none;

    }
}